<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuling.purchasingsystem.mapper.ContractDetailMapper" >
  <resultMap id="BaseResultMap" type="com.tuling.purchasingsystem.entity.ContractDetail" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="CONT_ID" property="contId" jdbcType="BIGINT" />
    <result column="MATERIAL_CODE" property="materialCode" jdbcType="VARCHAR" />
    <result column="MATERIAL_NAME" property="materialName" jdbcType="VARCHAR" />
    <result column="AMOUNT" property="amount" jdbcType="VARCHAR" />
    <result column="UNIT_PRICE" property="unitPrice" jdbcType="DECIMAL" />
    <result column="MEASURE_UNIT" property="measureUnit" jdbcType="VARCHAR" />
    <result column="SUM_PRICE" property="sumPrice" jdbcType="DECIMAL" />
    <result column="MIX_PRICE" property="mixPrice" jdbcType="DECIMAL" />
    <result column="OTHER_PRICE" property="otherPrice" jdbcType="DECIMAL" />
    <result column="TOTAL_PRICE" property="totalPrice" jdbcType="DECIMAL" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="MODE" property="mode" jdbcType="VARCHAR" />
    <result column="WRAP_REQUIRE" property="wrapRequire" jdbcType="VARCHAR" />
    <result column="FACTORY" property="factory" jdbcType="VARCHAR" />
    <result column="OTHER_REQUIRE" property="otherRequire" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CONT_ID, MATERIAL_CODE, MATERIAL_NAME, AMOUNT, UNIT_PRICE, MEASURE_UNIT, SUM_PRICE, 
    MIX_PRICE, OTHER_PRICE, TOTAL_PRICE, END_DATE, ADDRESS, MODE, WRAP_REQUIRE, FACTORY, 
    OTHER_REQUIRE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from contract_detail
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from contract_detail
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tuling.purchasingsystem.entity.ContractDetail" >
    insert into contract_detail (ID, CONT_ID, MATERIAL_CODE, 
      MATERIAL_NAME, AMOUNT, UNIT_PRICE, 
      MEASURE_UNIT, SUM_PRICE, MIX_PRICE, 
      OTHER_PRICE, TOTAL_PRICE, END_DATE, 
      ADDRESS, MODE, WRAP_REQUIRE, 
      FACTORY, OTHER_REQUIRE)
    values (#{id,jdbcType=BIGINT}, #{contId,jdbcType=BIGINT}, #{materialCode,jdbcType=VARCHAR}, 
      #{materialName,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, 
      #{measureUnit,jdbcType=VARCHAR}, #{sumPrice,jdbcType=DECIMAL}, #{mixPrice,jdbcType=DECIMAL}, 
      #{otherPrice,jdbcType=DECIMAL}, #{totalPrice,jdbcType=DECIMAL}, #{endDate,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{mode,jdbcType=VARCHAR}, #{wrapRequire,jdbcType=VARCHAR}, 
      #{factory,jdbcType=VARCHAR}, #{otherRequire,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tuling.purchasingsystem.entity.ContractDetail" >
    insert into contract_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="contId != null" >
        CONT_ID,
      </if>
      <if test="materialCode != null" >
        MATERIAL_CODE,
      </if>
      <if test="materialName != null" >
        MATERIAL_NAME,
      </if>
      <if test="amount != null" >
        AMOUNT,
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE,
      </if>
      <if test="measureUnit != null" >
        MEASURE_UNIT,
      </if>
      <if test="sumPrice != null" >
        SUM_PRICE,
      </if>
      <if test="mixPrice != null" >
        MIX_PRICE,
      </if>
      <if test="otherPrice != null" >
        OTHER_PRICE,
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="mode != null" >
        MODE,
      </if>
      <if test="wrapRequire != null" >
        WRAP_REQUIRE,
      </if>
      <if test="factory != null" >
        FACTORY,
      </if>
      <if test="otherRequire != null" >
        OTHER_REQUIRE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null" >
        #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="measureUnit != null" >
        #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="mixPrice != null" >
        #{mixPrice,jdbcType=DECIMAL},
      </if>
      <if test="otherPrice != null" >
        #{otherPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="wrapRequire != null" >
        #{wrapRequire,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="otherRequire != null" >
        #{otherRequire,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuling.purchasingsystem.entity.ContractDetail" >
    update contract_detail
    <set >
      <if test="contId != null" >
        CONT_ID = #{contId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null" >
        MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        AMOUNT = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null" >
        UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="measureUnit != null" >
        MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="sumPrice != null" >
        SUM_PRICE = #{sumPrice,jdbcType=DECIMAL},
      </if>
      <if test="mixPrice != null" >
        MIX_PRICE = #{mixPrice,jdbcType=DECIMAL},
      </if>
      <if test="otherPrice != null" >
        OTHER_PRICE = #{otherPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalPrice != null" >
        TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        MODE = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="wrapRequire != null" >
        WRAP_REQUIRE = #{wrapRequire,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        FACTORY = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="otherRequire != null" >
        OTHER_REQUIRE = #{otherRequire,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuling.purchasingsystem.entity.ContractDetail" >
    update contract_detail
    set CONT_ID = #{contId,jdbcType=BIGINT},
      MATERIAL_CODE = #{materialCode,jdbcType=VARCHAR},
      MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      AMOUNT = #{amount,jdbcType=VARCHAR},
      UNIT_PRICE = #{unitPrice,jdbcType=DECIMAL},
      MEASURE_UNIT = #{measureUnit,jdbcType=VARCHAR},
      SUM_PRICE = #{sumPrice,jdbcType=DECIMAL},
      MIX_PRICE = #{mixPrice,jdbcType=DECIMAL},
      OTHER_PRICE = #{otherPrice,jdbcType=DECIMAL},
      TOTAL_PRICE = #{totalPrice,jdbcType=DECIMAL},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      MODE = #{mode,jdbcType=VARCHAR},
      WRAP_REQUIRE = #{wrapRequire,jdbcType=VARCHAR},
      FACTORY = #{factory,jdbcType=VARCHAR},
      OTHER_REQUIRE = #{otherRequire,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>