<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuling.purchasingsystem.mapper.IdMappingMapper" >
  <resultMap id="BaseResultMap" type="com.tuling.purchasingsystem.entity.IdMapping" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
    <result column="STOCK_ID" property="stockId" jdbcType="BIGINT" />
    <result column="ENQUIRE_ID" property="enquireId" jdbcType="BIGINT" />
    <result column="CONT_APP_ID" property="contAppId" jdbcType="BIGINT" />
    <result column="QUOTE_ID" property="quoteId" jdbcType="BIGINT" />
    <result column="CONT_ID" property="contId" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, STOCK_ID, ENQUIRE_ID, CONT_APP_ID, QUOTE_ID, CONT_ID, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from id_mapping
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from id_mapping
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tuling.purchasingsystem.entity.IdMapping" >
    insert into id_mapping (ID, ORDER_ID, STOCK_ID, 
      ENQUIRE_ID, CONT_APP_ID, QUOTE_ID, 
      CONT_ID, STATUS)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{stockId,jdbcType=BIGINT}, 
      #{enquireId,jdbcType=BIGINT}, #{contAppId,jdbcType=BIGINT}, #{quoteId,jdbcType=BIGINT}, 
      #{contId,jdbcType=BIGINT}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tuling.purchasingsystem.entity.IdMapping" >
    insert into id_mapping
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="stockId != null" >
        STOCK_ID,
      </if>
      <if test="enquireId != null" >
        ENQUIRE_ID,
      </if>
      <if test="contAppId != null" >
        CONT_APP_ID,
      </if>
      <if test="quoteId != null" >
        QUOTE_ID,
      </if>
      <if test="contId != null" >
        CONT_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=BIGINT},
      </if>
      <if test="enquireId != null" >
        #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="contAppId != null" >
        #{contAppId,jdbcType=BIGINT},
      </if>
      <if test="quoteId != null" >
        #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="contId != null" >
        #{contId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuling.purchasingsystem.entity.IdMapping" >
    update id_mapping
    <set >
      <if test="orderId != null" >
        ORDER_ID = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="stockId != null" >
        STOCK_ID = #{stockId,jdbcType=BIGINT},
      </if>
      <if test="enquireId != null" >
        ENQUIRE_ID = #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="contAppId != null" >
        CONT_APP_ID = #{contAppId,jdbcType=BIGINT},
      </if>
      <if test="quoteId != null" >
        QUOTE_ID = #{quoteId,jdbcType=BIGINT},
      </if>
      <if test="contId != null" >
        CONT_ID = #{contId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tuling.purchasingsystem.entity.IdMapping" >
    update id_mapping
    set ORDER_ID = #{orderId,jdbcType=BIGINT},
      STOCK_ID = #{stockId,jdbcType=BIGINT},
      ENQUIRE_ID = #{enquireId,jdbcType=BIGINT},
      CONT_APP_ID = #{contAppId,jdbcType=BIGINT},
      QUOTE_ID = #{quoteId,jdbcType=BIGINT},
      CONT_ID = #{contId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>