<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuling.purchasingsystem.mapper.SysMenuRoleMapper" >
  <resultMap id="BaseResultMap" type="com.tuling.purchasingsystem.entity.SysMenuRole" >
    <result column="MENU_ID" property="menuId" jdbcType="BIGINT" />
    <result column="ROLE_ID" property="roleId" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.tuling.purchasingsystem.entity.SysMenuRole" >
    insert into sys_menu_role (MENU_ID, ROLE_ID)
    values (#{menuId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tuling.purchasingsystem.entity.SysMenuRole" >
    insert into sys_menu_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>